body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_3{left:255px;top:154px;letter-spacing:12px;}
#t2_3{left:489px;top:154px;letter-spacing:9px;}
#t3_3{left:230px;top:593px;letter-spacing:3px;word-spacing: 49px;}
#t4_3{left:350px;top:592px;letter-spacing:-4px;}
#t5_3{left:477px;top:593px;letter-spacing:7px;}
#t6_3{left:350px;top:660px;letter-spacing: 18px;}
#t7_3{left:427px;top:662px;letter-spacing:6px;}
#t5_3,#t7_3 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s6_3{
	FONT-SIZE: 107px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
	
}
.s5_3{
	FONT-SIZE: 145px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s7_3{
	FONT-SIZE: 120px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s3_3{
	FONT-SIZE: 137px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s4_3{
	FONT-SIZE: 138px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s2_3{
	FONT-SIZE: 249px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_3{
	FONT-SIZE: 254px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v2{
-webkit-transform: scale(0.25, 0.20);
-ms-transform: scale(0.25, 0.20);
-moz-transform: scale(0.25, 0.20);
-o-transform: scale(0.25, 0.20);
}
.v1{
-webkit-transform: scale(0.25, 0.24);
-ms-transform: scale(0.25, 0.24);
-moz-transform: scale(0.25, 0.24);
-o-transform: scale(0.25, 0.24);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
