body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_4{left:314px;top: 193px;letter-spacing: 3px;}
#t2_4{left: 320px;top: 322px;letter-spacing: 2px;}
#t1_4,#t2_4 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s2_4{
	FONT-SIZE: 306px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_4{
	FONT-SIZE: 376px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v2{
-webkit-transform: scale(0.25, 0.33);
-ms-transform: scale(0.25, 0.33);
-moz-transform: scale(0.25, 0.33);
-o-transform: scale(0.25, 0.33);
}
.v1{
-webkit-transform: scale(0.25, 0.27);
-ms-transform: scale(0.25, 0.27);
-moz-transform: scale(0.25, 0.27);
-o-transform: scale(0.25, 0.27);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
