body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_8{left:189px;top: 496px;letter-spacing: 2px;}
#t2_8{left:290px;top:651px;letter-spacing:19px;}
#t1_8,#t2_8 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s2_8{
	FONT-SIZE: 398px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_8{
	FONT-SIZE: 369px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v1{
-webkit-transform: scale(0.25, 0.30);
-ms-transform: scale(0.25, 0.30);
-moz-transform: scale(0.25, 0.30);
-o-transform: scale(0.25, 0.30);
}
.v2{
-webkit-transform: scale(0.25, 0.24);
-ms-transform: scale(0.25, 0.24);
-moz-transform: scale(0.25, 0.24);
-o-transform: scale(0.25, 0.24);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
