body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_10{left: 164px;top: 174px;letter-spacing: -6px;}
#t2_10{left: 276px;top: 309px;letter-spacing: -4px;}
#t1_10,#t2_10 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s1_10{
	FONT-SIZE: 376px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
	
}
.s2_10{
	FONT-SIZE: 373px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
	
}
.v2{
-webkit-transform: scale(0.25, 0.29);
-ms-transform: scale(0.25, 0.29);
-moz-transform: scale(0.25, 0.29);
-o-transform: scale(0.25, 0.29);
}
.v1{
-webkit-transform: scale(0.25, 0.28);
-ms-transform: scale(0.25, 0.28);
-moz-transform: scale(0.25, 0.28);
-o-transform: scale(0.25, 0.28);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
