body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_12{left: 310px;top: 271px;letter-spacing: 6px;}
#t2_12{left: 311px;top: 401px;letter-spacing: 18px;}
#t1_12,#t2_12 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s2_12{
	FONT-SIZE: 289px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
	
}
.s1_12{
	FONT-SIZE: 380px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v1{
-webkit-transform: scale(0.25, 0.26);
-ms-transform: scale(0.25, 0.26);
-moz-transform: scale(0.25, 0.26);
-o-transform: scale(0.25, 0.26);
}
.v2{
-webkit-transform: scale(0.25, 0.35);
-ms-transform: scale(0.25, 0.35);
-moz-transform: scale(0.25, 0.35);
-o-transform: scale(0.25, 0.35);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
