body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_16{left: 230px;top: 257px;letter-spacing: -10px;}
#t2_16{left: 286px;top: 382px;letter-spacing: -7px;}
#t2_16 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s2_16{
	FONT-SIZE: 350px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_16{
	FONT-SIZE: 389px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v1{
-webkit-transform: scale(0.25, 0.28);
-ms-transform: scale(0.25, 0.28);
-moz-transform: scale(0.25, 0.28);
-o-transform: scale(0.25, 0.28);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
