body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_22{left: 300px;top: 207px;letter-spacing: 13px;}
#t2_22{left:433px;top:327px;}
#t3_22{left:455px;top:332px;}
#t4_22{left: 296px;top: 349px;letter-spacing: -7px;}
#t1_22 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s3_22{
	FONT-SIZE: 154px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s2_22{
	FONT-SIZE: 177px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s4_22{
	FONT-SIZE: 399px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_22{
	FONT-SIZE: 396px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v1{
-webkit-transform: scale(0.25, 0.27);
-ms-transform: scale(0.25, 0.27);
-moz-transform: scale(0.25, 0.27);
-o-transform: scale(0.25, 0.27);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
