body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {opacity:0!important;
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_26{left: 237px;top: 220px;letter-spacing: 43px;}
#t2_26{left:390px;top:230px;letter-spacing:17px;}
#t3_26{left:508px;top:214px;letter-spacing:-10px;}
#t4_26{left: 273px;top: 359px;letter-spacing: 6px;}
#t1_26,#t3_26 {
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-moz-transform-origin: left top;
	-o-transform-origin: left top;
}
.s3_26{
	FONT-SIZE: 310px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s4_26{
	FONT-SIZE: 342px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s2_26{
	FONT-SIZE: 355px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.s1_26{
	FONT-SIZE: 364px;
	font-family:Helvetica;
	color: rgba(255, 255, 255, 0);
}
.v2{
-webkit-transform: scale(0.25, 0.33);
-ms-transform: scale(0.25, 0.33);
-moz-transform: scale(0.25, 0.33);
-o-transform: scale(0.25, 0.33);
}
.v1{
-webkit-transform: scale(0.25, 0.29);
-ms-transform: scale(0.25, 0.29);
-moz-transform: scale(0.25, 0.29);
-o-transform: scale(0.25, 0.29);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
