body{
position:absolute;
margin:0px;
width:865px;
height:908px;
}
.t {
	position: absolute;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 1;
	position:absolute;
	white-space:nowrap;
	overflow:visible;
}

#t1_31{left:460px;top:147px;}
#t2_31{left:460px;top:291px;letter-spacing:-1px;}
#t3_31{left:460px;top:435px;}
#t4_31{left:460px;top:579px;}
#t5_31{left:460px;top:723px;letter-spacing:-1px;}
.s1_31{
	FONT-SIZE: 96px;
	FONT-FAMILY: GillSansMT-Bold;
	color: rgb(33,31,35);
}

@font-face {
font-family:Helvetica;
src:url("../fonts/Helvetica.ttf");
}
@font-face {
font-family:GillSansMT-Bold;
src:url("../fonts/GillSansMT-Bold.ttf");
}
